<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539814142258-p1tbc263gfhmj332c0vdjgjh6vcdghf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539814142258-p1tbc263gfhmj332c0vdjgjh6vcdghf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDpTz7sKi8iTmkP003t0NyOhg-LqhlwiTI</string>
	<key>GCM_SENDER_ID</key>
	<string>539814142258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kenanbylan.ArkitFaceStoryFilterSwift</string>
	<key>PROJECT_ID</key>
	<string>arkitfilterproject</string>
	<key>STORAGE_BUCKET</key>
	<string>arkitfilterproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539814142258:ios:c9b2c1d87e68811fe0772b</string>
</dict>
</plist>